name: 'Test'

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
      - '**.md'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - 'ubuntu-18.04'
        - 'macos-latest'
        - 'windows-latest'
    steps:
      # Check out; action built on dev machine to `dist/index.js`!
      - uses: actions/checkout@v2

      # Run it like we would in the wild:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7

      - name: Set up asciidoctor without options
        uses: ./

      - name: Test without options
        run: ruby test/run_tests.rb without_options

      - name: Set up asciidoctor with options
        uses: ./
        with:
          version: 2.0.10
          options: "-a experimental=true"

      - name: Test with options
        run: ruby test/run_tests.rb with_experimental
