name: 'Test'

on:
  push:
    branches-ignore:
      - 'wip/*'
    paths-ignore:
      - '**.md'
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - 'ubuntu-latest'
        - 'macos-latest'
        - 'windows-latest'
        ruby-version:
        - '3.4'
        - '4.0'
    steps:
      # Check out; action built on dev machine to `dist/index.js`!
      - uses: actions/checkout@v6

      # Run it like we would in the wild:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}

      - name: Set up asciidoctor
        uses: ./

      - name: Test
        run: ruby test/run_tests.rb
